<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="stylesheet", href="style.css")
    body
        .section1.section
            p section 1
        .section2.section
            p section 2
        .section3.section
            p section 3
        