<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="stylesheet", href="style.css")
    body
        .nav
            each item in ['home','about','contact']
                .menu-item= item
        .container
            .section1.section
            .section2.section
            .section3.section
